{% extends "app/layout.html" %}

{% block content %}

<div>   
    <p>WARNING: YOU ARE CONNECTING TO A U.S. GOVERNMENT SYSTEM. IF YOU ARE NOT AUTHORIZED ACCESS TO THIS SYSTEM, DISCONNECT NOW. All attempts to access and use this system and/or its resources are subject to keystroke monitoring and recording. Everyone using this system expressly consents to such monitoring and is advised that if such reveals possible evidence of criminal activity or abuse of authority, the information will be reported to authorities for action. Unauthorized access attempts or use in excess of documented authority may subject you to a fine and/or imprisonment. .</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Welcome to TSPWeb</h2>
        <p>Welcome back. You were logged in 27 days ago.</p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">FCC Report &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Available Features</h2>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Plan Participation &raquo;</a></p>
        <p>How to set up and manage your TSP account</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Investment Funds &raquo;</a></p>
        <p>Information on TSP fund options and performance</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Planning & Tools &raquo;</a></p>
        <p>Retirement planning and tools for all career stages</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Life Events &raquo;</a></p>
        <p>Help with life events affecting your TSP account</p>
    </div>
</div>

{% endblock %}
